.page-header {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: ($rh-xxl * 1.5) 0;
  background: $gray-10;
  border: 20px solid $white;
  &__logo {
    animation: incomingHeader 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: forwards;

    display: block;
    margin: 0;
    padding: 0;
    background: none;
    font-size: 96px;
    font-size: 9.6vh;
  }
  &__tagline {
    margin: 0;

    margin-top: 2vh;
    padding-top: 2vh;

    background: linear-gradient(to right, $color-brand-primary, $color-brand-primary);
    background-size: 20% 1px;
    background-repeat: no-repeat;
    background-position: right top;

    color: $gray-75;
    font-size: 20px;
    font-size: 2vh;
    font-family: $font-family-serif;
    font-weight: $font-weight-regular;
    text-align: right;
    text-transform: none;
  }
}

@keyframes incomingHeader {
  0% {
    transform: translateY(-100px);
  }
  0%, 10% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}