.page-header {
  padding: ($rh-xxl * 1.5) 0;
  // border-bottom: 2px solid $gray-10;
  &__logo {
    display: block;
    margin-bottom: $rh-xxs;
    @include fsRem(26px);
  }
  &__tagline {
    margin: 0;
    color: $gray-50;
    @include fsRem(15px);
    font-weight: $font-weight-regular;
    text-transform: none;
    // text-transform: uppercase;
  }
}
