.page-header {
  animation: headerAnim 10s linear infinite;
  animation-direction: alternate;

  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh;
  max-height: 1200px;
  padding: ($rh-xxl * 1.5) 0;
  background: $gray-10;
  border: 20px solid $white;
  &__logo {
    display: block;
    margin: 0;
    padding: 0;
    background: none;
    font-size: 96px;
    font-size: 9.6vh;
    @include breakpoint(1000px, 'min-height'){
      @include fsRem(100px);
    };
  }
  &__tagline {
    animation:
      logoAnim 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;

    display: inline-block;
    margin: 0;
    margin-top: 2vh;
    padding-top: 2vh;

    background: linear-gradient(to right, $color-brand-primary, $color-brand-primary);
    background-size: 50% 1px;
    background-repeat: no-repeat;
    background-position: center top;

    color: $gray-75;
    font-size: 20px;
    font-family: $font-family-serif;
    font-weight: $font-weight-regular;
    text-transform: none;
    @include breakpoint(map-get($breakpoints, med), 'max-width'){
      @include breakpoint(map-get($breakpoints, med), 'max-height'){
        @include fsRem(18px);
      };
    };
    @include breakpoint(map-get($breakpoints, xlr)) {
      background-position: right top;
    };
  }
  @include breakpoint(map-get($breakpoints, xlr)) {
    text-align: right;
  };
}

@keyframes logoAnim {
  0% {
    transform: translateY(-100px);
  }
  0%, 10% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// @keyframes lineAnim {
//   from {
//     background-position: 125% top;
//   }
//   to {
//     background-position: right top;
//   }
// }

@keyframes headerAnim {
  from {
    background: tint($gray-10, 5%);
  }
  to {
    background: shade($gray-10, 5%);
  }
}