.project {
  &__img {
    img {
      @include transitions(transform, .5s, linear);
      display: block;
    }
  }
  &__ct {
    @include transitions(background);
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($white, .9);
  }
  &__btn {
    @include transitions((background, color, opacity, transform), .5s);
    transform: translateY(-10px);
    opacity: 0;
    padding: .8em 1.2em;
    border: 2px solid $black;
    color: $black;
    font-family: $font-family-sans;
    @include fsRem(16px);
    text-transform: uppercase;
  }
  &__heading {
    margin: 0;
  }
  &__link {
    position: relative;
    overflow: hidden;
    display: block;
    &:hover,
    &:focus {
      .project__ct {
        background: rgba($white, .8);
      }
      .project__btn {
        transform: translateY(0);
        opacity: 1;
      }
      img {
        transform: scale(1.1);
      }
    }
  }
  &__desc {
    @include cf;
    position: relative;
    z-index: 20;
    padding: 0 ($rh-xlr * 2);
    margin-top: $rh-med;
    margin-bottom: ($rh-lrg * 2);
    a {
      @include transitions(background);
      @include link-variant($color-brand-primary);
      background: linear-gradient(to left, $color-brand-primary, $color-brand-primary);
      background-size: 100% 1px;
      background-repeat: no-repeat;
      background-position: left 90%;
      font-style: italic;
      text-decoration: none;
      &:hover,
      &:focus {
        background-position: left 110%;
      }
    }
  }
  &__aside {
    float: left;
    width: 300px;
    text-align: right;
  }
  &__main {
    margin-left: 300px + $rh-lrg;
  }

  & + & {
    margin-top: $rh-xlr * 3;
  }
}